html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}

body {
    padding: 0;
    text-align: center;
    background-color: aliceblue;
    background-image: url(./images/platano-farm.png);
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  #start-page {
    border-style: solid;
    border-radius: 6rem;
    border-width: .5rem;
    border-color: black;
    background-color: greenyellow;
    display: inline-block;
    width: 45vw;
    height: auto;
    margin-top: 5%;
  }

  #title-name {
    font-size: 5vw;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color:yellow;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black;
  }

  body button {
    padding: 0;
    background: none;
    border: none;
    height: auto;
  }

  .game-instructions {
    font-size: 2rem;
    display: inline-block;
  }

  #game-container {
    display: flex;
    width: 98vw;
    padding: 20px 0px;
    justify-content: center;
  }

  #game-page {
    display: none;
    align-content: center;
    padding: 30vw 0px;
    position: absolute;
    background-image: url(./images/shuffleboard-table1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 4rem;
    text-align:right;
  }

  @keyframes slide {
    0% {
      background-position: 0 -1000px;
    }
    95% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 50px;
    }
  }

  #game-end {
    display: none;
  }

