html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}

body {
    padding: 0;
    background-color: aliceblue;
    background-image: url(./images/platano-farm.png);
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .start {
    display: flex;
    justify-content: center;
  }

  #start-page {
    border-style: solid;
    border-radius: 6rem;
    border-width: .5rem;
    border-color: black;
    background-color: greenyellow;
    text-align: center;
    display: block;
    width: 45vw;
    height: auto;
    margin-top: 5%;
  }

  #title-name {
    font-size: 5vw;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color:yellow;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black;
  }

  body button {
    padding: 0;
    background: none;
    border: none;
    height: auto;
  }

  .game-instructions {
    font-size: 2rem;
    display: inline-block;
  }

  #game-container {
    display: flex;
    justify-content: center;
    padding: 0px 0px;
  }

  #game-page {
    display: none;
    background-image: url(./images/shuffleboard-table1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 4rem;
  }

  .stats {
    font-size: 3rem;
    display: none;
    flex-direction: column;
    align-items: start;
    border-style: solid;
    margin-left: 30px;
    padding: 0px 10px;
    border-width: .5rem;
    border-color: black;
    background-color: greenyellow;
    height: fit-content;
    font-family: 'Courier New', Courier, monospace;
    color:yellow;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black;
    font-weight: bold;

    
  }

  /* #tostones {
    text-align:end;
    

  }

  #score {
    text-align: right;

  } */

  #game-end {
    display: none;

  }

